// font-family: 'Roboto', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// colors
$color-dark-charcoal: #333;
$color-dark-gray: #666;
$color-grey: #808080;
$color-medium-dark-cyan-blue: #3f444a;
$color-dark-red: #900;
$color-fire-engine-red: #c71b2a;
$color-light-gray-shade: #e4e4e4;
$color-china-ivory: #fff7d1;
$color-white: #fff;
$color-tangerine-yellow: #fcd000;
$color-floral-white: #fcf8ef;
$color-pale-oyster: #9f917a;
$color-albescent-white: #dfd7ca;
$color-white-ice: #d9ede4;
$color-jet-stream: #badbcc;
$color-gainsboro: #e2e2e2;
$color-green: #0a760a;
$color-energy-yellow: #fddd45;
$color-zeus: #3e3f3a;
$color-sweet-corn: #ffe87c;
$very-light-grey: #c7c7c7;
